<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.people.vaccinereminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.people.vaccinereminder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.people.vaccinereminder.normalPanel"/>
        <activity android:name="com.people.vaccinereminder.ListActivity" />       
        <activity android:name="com.people.vaccinereminder.homeActivity" />        
        <activity android:name="com.people.vaccinereminder.registerActivity" />
        <activity android:name="com.people.vaccinereminder.newVac"/>
        <activity android:name="com.people.vaccinereminder.editVac"/>
        <activity android:name="com.people.vaccinereminder.aboutActivity"/>
        <activity android:name="com.people.vaccinereminder.first"/>
        <activity android:name="com.people.vaccinereminder.ListActivity2"/>
        <activity android:name="com.people.vaccinereminder.ListActivity3"/>
        <service android:name="com.people.vaccinereminder.MyNotificationService"></service>
        <receiver android:name="com.people.vaccinereminder.Notifi"></receiver>
    </application>

</manifest>
